* {
    box-sizing: border-box;
}

::-webkit-scrollbar { /* chrome based */
    width: 0;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */

    scroll-behavior: smooth; /* Плавная прокрутка до #header */
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.none {
    display: none !important; /* Позволяет временно скрыть не нужный элемент на странице */
}

/* Header */

.header {
    position: relative; /* Родитель блока .header-arrow */
    /* Определяем модель flex-box для блока .header */
    display: flex;
    flex-direction: column; /* Выстраиваем flex-элементы в колонку, основная ось - Y */
    justify-content: center; /* Выравнивание по основной оси */
    align-items: center; /* Выравнивание по поперечной оси - X по горизонтали */

    width: 100%;
    height: 100vh;

    /* background-color: #51637E; */
    /* background-image: url("./../img/header/header-bg.jpg" ); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.header-overlay {
    position: absolute;
    width: 60%;
    height: 300px;
    backdrop-filter: blur(10px);
    border: 1px solid #ffffff35;
    box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 30px;
}

.header-title {
    position: relative;
    margin: 0 0 25px 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    z-index: 2;

    text-align: center;

    color: #ffffff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.header-subtitle {
    margin: 0;
    font-weight: 700;
    position: relative;
    font-size: 16px;
    line-height: 150%;

    text-align: center;
    letter-spacing: 3.2px;
    text-transform: uppercase;

    color: #ffffff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.nav-list-block {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
}

.nav-link:hover {
    border-bottom: 1px solid white;
}

.nav-link-img {
    display: none;
    width: 20px;
    margin-right: 10px;
}

.nav-link-img svg {
    fill: white;
}

.header-arrow {
    position: absolute; /* Зависит от блока .header */
    width: 48px;
    height: 48px;
    bottom: 30px;
    transition: transform 0.2s ease;
}

.header-arrow:hover {
    transform: translateY(10px);
}

/* Portfolio */

.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.portfolio-header {
    margin: 0 0 70px 0;
    color: #000;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
}

.portfolio-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 30px;
    background-color: #FFF;
    max-width: 540px;
    background: #FFF;
    box-shadow: 0 10px 40px 0 rgba(126, 155, 189, 0.35);
    transition: transform 0.2s ease-in;
}

.card:hover {
    transform: translateY(-15px);
}

.card-link {
    padding: 20px;
    color: #000;
    display: block;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.card-link:hover {
    color: rgb(39, 91, 236);
}

.card:last-child, .card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

.card-title {
    margin: 0 0 13px 0;

    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
}

/* Footer */
.footer {
    padding-top: 45px;
    padding-bottom: 130px;
    background: #1E4776;
    color: #fff;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    align-items: baseline;
}

.footer-col {
    display: flex;
    max-width: 350px;
    flex-grow: 1;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.footer-copyright {
    max-width: 350px;
    flex-grow: 1;

    color: #7E9EC9;
    text-align: center;
    line-height: 1.3;
}

.footer-copyright-name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-copyright p {
    font-size: 15px;
    font-weight: 600;
}

.footer-icons-row {
    display: flex;
    align-items: center;
}

.footer-ico {
    transition: opacity 0.2s ease;
}

.footer-ico:hover {
    opacity: 0.5;
}

.footer-icons p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
}

/* "> * + *" - Означает что мы работаем именно с первым уровнем вложенности */
.footer-icons-row > * + * {
    margin-left: 30px;  /* Добавили отступ каждой иконке */
}

.footer-contacts p {
    margin: 15px 0;
    color: #7E9EC9;
    font-size: 16px;
    line-height: 1.3;
}

.footer-button {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #FFF;
    border-radius: 50px;

    color: #fff;
    font-weight: 700;
    line-height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.2s ease-in;
}

.footer-button:hover {
    background-color: #FFF;
    color:#1E4776 ;
}

/* Projects */

.project {
    padding: 80px 0 120px 0;
    text-align: center;
}

.project-header {
    margin: 0 0 40px 0;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3;
}

.project-img {
    margin-bottom: 70px;
}

.project-description {
    margin: 0 auto 60px;
    max-width: 730px;
}

.project-description p {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.project-btn-back {
    display: inline-block;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #275BEC;
    border-radius: 50px;

    color: #275BEC;
    font-weight: 700;
    line-height: 54px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;

    transition: all 0.2s ease-in; /*Плавный переход для всех свойств*/
}

.project-btn-back:hover {
    background-color: #275BEC;
    color: #FFF;
    transform: translateX(-5px);
}

/*vk-comments*/
.vk-comments {
    padding: 15px 0 15px 0;
}

/*Запрет копирования текста*/
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version */
}

/*Swiper*/
.swiper {
    width: 600px;
    height: 300px;
}



